.container {
    background-image: linear-gradient(to right, rgba(204, 0, 0, .5), #eee 20% ) ;
    border: 1px solid #c00;
    border-radius: 10px;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .3);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.article {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 100%;
}

.wrapper {
    flex: 1;
}

.title {
    color: #c00;
    margin: 0 0 20px;
}

.text {
    font-size: 12px;
    margin: 0 0 20px;
}

.time {
    font-weight: bold;
}

@media screen and (min-width: 600px) {
    .title {
        font-size: 1.5rem;
    }
    .text {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1100px) {
    .title {
        font-size: 2rem;
    }
    .text {
        font-size: 1.5rem;
    }
}

@media (min-width: 600px) and (max-width: 1100px) {
    .title {
      font-size: 1.1em;
    }
    .text {
      font-size: 1rem;
    }
  }