.container {
    background: #999;
    border: 1px dashed #666;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(204, 0, 0, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    padding: 15px;
    align-items: stretch;
    display: grid;
    gap: 25px 25px;
    grid-auto-flow: row;
    grid-template-columns: 1.1fr 1.1fr 1.1fr;
    grid-template-rows: auto;
  }
  